.background-img .road{
	width: 100%;
	height: 20%;
	margin-top: 10%;
	position: relative;
}
body{
	background-color: grey;
}
.background-img .car{
	position: absolute;
	top: 32%;
    left: 1px;
    margin-bottom: 20%;
    bottom: 0;
    text-align: center;
    animation-timing-function: linear;
    animation: mymove 5s;
}
.background-img .car1{
	position: absolute;
	top: 59%;
    left: 1px;
    bottom: 0;
    margin-top: 2%;
    animation-timing-function: linear;
    animation: mymovee 5.5s;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 150%;}
}

@keyframes mymove {
    0%   {left: 0px;}
    45%  {left: 90%;}
    45%   {left: 90%;}
    75%   {left: 90%;}
    75%   {left: 90%;}
    75%   {left: 90%;}
    75%   {left: 90%;}
    100% {left: 90%;}
}

@keyframes mymovee {
    0%   {left: 0px;}
    45%  {left: 90%;}
    45%   {left: 90%;}
    75%   {left: 90%;}
    75%   {left: 90%;}
    75%   {left: 90%;}
    75%   {left: 90%;}
    100% {left: 90%;}
}